.coco-aside {
  flex-shrink: 0;
}

.coco-container-vertical {
  display: flex;
}

.coco-container-horizontal {
  width: 100%;
}

.coco-footer {
  width: 100%;
  flex-shrink: 0;
}

.coco-header {
  flex-shrink: 0;
}

.coco-main {
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
  flex-shrink: 0;
}
