.coco-dialog-packing {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .coco-dialog {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    .coco-dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      .coco-dialog-title {
        font-size: 15px;
        color: #333;
      }

      .coco-ui-close {
        cursor: pointer;
      }
    }

    .coco-dialog-footer {
      padding-top: 10px;
      text-align: right;
    }
  }
}

.coco-dialog-modal {
  background: rgba(0, 0, 0, 0.4);
}

.coco-dialog-enter-active {
  transition: all 0.2s ease-out;
}

.coco-dialog-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.coco-dialog-enter-from,
.coco-dialog-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
