.coco-drawer-packing {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .coco-drawer {
    position: fixed;
    background: #fff;
    z-index: 300;
    padding: 20px;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);

    .coco-drawer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .coco-drawer-title {
        font-size: 15px;
        color: #333;
      }

      .coco-ui-close {
        cursor: pointer;
      }
    }

    .coco-drawer-body {
      margin-top: 20px;
    }
  }

  .coco-drawer-top {
    top: 0;
    left: 0;
    right: 0;
  }

  .coco-drawer-left {
    left: 0;
    top: 0;
    bottom: 0;
  }

  .coco-drawer-bottom {
    bottom: 0px;
    right: 0;
    left: 0;
  }

  .coco-drawer-,
  .coco-drawer-right {
    right: 0px;
    top: 0;
    bottom: 0;
  }
}

.coco-drawer-modal {
  background: rgba(0, 0, 0, 0.4);
}

.coco-drawer-enter-active {
  transition: all 0.2s ease-out;
}

.coco-drawer-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.coco-drawer-enter-from,
.coco-drawer-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
