.coco-image {
  display: inline-block;

  .coco-image-select {
    user-select: none;
  }

  .coco-image-fill {
    object-fit: fill;
  }

  .coco-image-contain {
    object-fit: contain;
  }

  .coco-image-cover {
    object-fit: cover;
  }

  .coco-image-none {
    object-fit: none;
  }

  .coco-image-scale-down {
    object-fit: scale-down;
  }

  .coco-image-error {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #606266;
    font-size: 15px;
  }
}
