$primary: #3a6ff4;
$success: #54c600;
$danger: #d10f1b;
$warning: #fbcc30;
$default: #3f536e;

.coco-link {
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}

.coco-icon-primary,
.coco-link-primary {
  color: $primary;
}

.coco-icon-success,
.coco-link-success {
  color: $success;
}

.coco-icon-danger,
.coco-link-danger {
  color: $danger;
}

.coco-icon-warning,
.coco-link-warning {
  color: $warning;
}

.coco-link-,
.coco-icon-default,
.coco-link-default {
  color: $default;
}

.coco-link-prohibit {
  opacity: 0.4;
  cursor: no-drop;
}
