$primary: #3a6ff4;

.coco-turn-page-item {
  flex: 1;
  transition: 0.2s;

  .coco-turn-page-item-link {
    text-decoration: none;
    color: #515a6e;
    cursor: pointer;

    &:hover {
      color: $primary;

      .coco-icon {
        color: $primary !important;
      }
    }
  }

  .coco-turn-page-item-prohibit {
    opacity: 0.5;
    cursor: not-allowed;

    .coco-icon {
      opacity: 0.5 !important;
      color: #515a6e !important;
    }

    &:hover {
      opacity: 0.5;
      color: #515a6e;

      .coco-icon {
        color: #515a6e !important;
      }
    }
  }
}
