* {
  margin: 0;
  padding: 0;
  font-size: '微软雅黑';
}

.coco-button,
.coco-turn-page,
.coco-tag,
.coco-link,
.coco-input,
.coco-tagging,
.coco-alert,
.coco-table,
.coco-select,
.coco-button-group {
  margin: 10px;
}

.coco-input {
  width: 260px;
  display: block;
}

.coco-button-group .coco-button,
.coco-info .coco-link {
  margin: 0;
}

.coco-header,
.coco-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.coco-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.coco-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .coco-container {
  margin-bottom: 40px;
}

.coco-container:nth-child(5) .coco-aside,
.coco-container:nth-child(6) .coco-aside {
  line-height: 260px;
}

.coco-container:nth-child(7) .coco-aside {
  line-height: 320px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 6px;
}

.coco-card-item {
  width: 240px;
  margin-left: 10px;
  display: inline-block;
}

.fitBox {
  display: flex;
}

.fitBox .item {
  width: 200px;
  height: 200px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fitBox .item .text {
  color: #333333;
  margin-bottom: 20px;
}

#allIcon {
  width: 100%;
}

#allIcon .allIcon-ui {
  display: flex;
  flex-wrap: wrap;
}

#allIcon .allIcon-ui .allIcon-li {
  width: 140px;
  height: 120px;
  list-style: none;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allIcon .allIcon-ui .allIcon-li .coco-icon {
  font-size: 30px;
}

#allIcon .allIcon-ui .allIcon-li .iconTitle {
  font-size: 12px;
  color: #8a8a8a;
  display: inline-block;
  max-width: 100px;
  text-align: center;
  margin: 20px 0 0 0;
  height: 30px;
  line-height: 15px;
}

#allIcon .allIcon-ui .allIcon-li:hover {
  transition: background 0.3s;
  background: #dcdfe6;
}

#about {
  max-width: 800px;
  margin: auto;
  padding: 22px;
  box-sizing: border-box;
  padding-bottom: 99px;
}

.vp-doc {
  .coco-menu-item {
    margin-top: 0;
  }
  .coco-icon {
    line-height: normal;
  }
  .coco-switch-roll {
    box-sizing: content-box;
  }
}
